# Editor directories and files
.vscode
.idea

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directory
server/node_modules
client/node_modules

# Testing
client/coverage

# Build
server/dist
client/build

# misc
.env
.env.development
.env.test
.env.production
.DS_Store
Thumbs.db
